$background-color: #F5F5F6;

$font-size: 1.6rem;

$text-color: #80838D;

$border-color: #F5F5F6;

$hover-text-color: #b0bec5;

$focus-text-color: #37474f;

$focus-border-color: #512da8;

$disabled-border-color: #d7dde0;

$invalid-color: #e05d5d;


.input-field {
  position: relative;
  display: block;
  margin-bottom: 2.5rem;

  & .error-message {
    min-height: 13px;
    font-size: 12px;
    color: $invalid-color;
    margin: 2px 8px 0 0;
    position: absolute;
    bottom: -2rem;
  }

  & .search {
    box-sizing: border-box;
    position: absolute;
    top: 4px;
    right: 4px;
    width: 24px;
    height: 24px;
    //background-image: url('./../../../assets/images/search.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.tp-input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 32px;
  padding-bottom: 2.6rem;
  padding-top: 2.6rem;
  padding-left: 2.7rem;
  border: 1px solid $border-color;
  background-color: $background-color;
  outline: none;

  &--search {
    padding-right: 32px;
  }

  &--multiline {
    resize: none;
    height: auto;
  }

  &--disabled {
    pointer-events: none;
    border: 1px solid $disabled-border-color;
  }

  &--invalid {
    border: 1px solid $invalid-color;
  }


}

.textarea-field {
  display: flex;
  flex-direction: column;
}

.count {
  border: 1px solid red;
  width: 15px;
  height: 15px;
}

