
.tp-select__control:hover .tp-select__placeholder {
  color: #78909c;
}

.tp-select__control:hover svg {
  fill: #b0bec5;
}

.tp-select__control.tp-select__control--menu-is-open {
  box-shadow: 0 0 0 1px #512da8;
}

.tp-select__control.tp-select__control--is-focused {
  box-shadow: 0 0 0 1px #512da8;
}

.tp-select__control.tp-select__control--menu-is-open svg {
  fill: #607d8b;
}

.tp-select__indicator svg {
  fill: #607d8b;
}

.basic-select
  .tp-select__menu{
    margin-top:1px;
}

.tp-select__menu
  .css-11unzgr{
    padding: 0;
}

.tp-select__menu
  .tp-select__option--is-selected{
    background-color: #303f9f;
    color: #fff;
}

.tp-select__menu-list .tp-select__option.tp-select__option--is-disabled {
  pointer-events: none;
  color: #78909c;
}

.basic-select {
  margin-bottom: 2rem;

  &--invalid {
    border: 1px solid red ;

    & .tp-select__control {
      border:none;
    }
  }

}