
.tp-btn {
  padding: 1rem;
  cursor: pointer;

  &__primary {
    background: #1C2334;
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #1C2334;;
    padding: 2rem 4rem;
  }

}