@import 'variables';


.footer {
  position: relative;
  background-color: $main-color;
  z-index: 1;
  &-block {
    z-index: 2;
    padding-top: 73px;
    padding-bottom: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &-bg-logo {
    position: absolute;
    top: 35%;
    left: 15%;
    z-index: -1;
  }
  &-text {
    margin-top: 50px;
    margin-bottom: 88px;
    width: 40%;
    display: flex;
    justify-content: space-between;
    &__info {
      text-align: right;
      margin-left: 50px;
    }
    &__title {
      margin-bottom: 20px;
    }
    & span {
      font-family: Fjalla One,sans-serif;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.01em;
      display: block;
      color: $text-color;
    }
  }
}
.social {
  &__item {
    background-color: $footer-social-color;
    &:hover {
      background-color: $red-color;
      transition: 0.8s;
    }
  }
  &__link {
    color: $white-color;
  }
  &-list {
    display: flex;
  }
}
@media screen and (max-width: 900px) {
  .footer {
    &-text {
      margin-top: 30px;
      flex-direction: column;
      &__info {
        margin-left: 0;
        text-align: center;
        margin-bottom: 10px;
      }
      &__address {
        text-align: center;
      }
    }
  }
}
