@import './variables.scss';



@font-face {
  font-family: 'Fjalla One';
  src: local('Fjalla One'), local('FjallaOne-Regular'), url('../fonts/Fjallaone.woff2') format('woff2'), url('../fonts/Fjallaone.woff2') format('woff'), url('../fonts/Fjallaone.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Permanent Marker';
  src: url("../fonts/PermanentMarker.ttf");
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/latoregular.woff2') format('woff2'), url('../fonts/latoregular.woff') format('woff'), url('../fonts/latoregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.8rem;
  color: $main-color
}

h1,h2,h3,h4,h5,h6 {
  color: $main-color
}

i {
  color: $white-color
}

.social {
  background-color: $dark-color;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.small-title {
  font-family: 'Permanent Marker', sans-serif !important;
  font-size: 18px !important;
  line-height: 26px !important;
  text-transform: uppercase !important;
  color: $red-color !important
}
.d-block {
  display: block;
}


.wrapper {
  background: $white-color;
}

.content-wrapper {
  width: 1140px;
  margin: 0 auto;
  padding: 100px 0;
}

.light-link {
  border: 1px solid #273147;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 2rem 4rem;
  display: inline-flex;
  color: #273147;

  a {
    color: #273147;
    text-decoration: none;
  }
}

@media (max-width: $xl) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (max-width: 767px) {

}
@media (max-width: 480px) {

}
