@import 'variables';
.header {
  &-nav {
    display: flex;
     //justify-content: space-between;
    align-items: center;
    background-color: $white-color;
    color: $black-color;
  }
  &__logo {
    background: $red-color;
    padding: 15px 65px 5px 40px;
    position: relative;
    clip-path: polygon(0 0, 100% 0%, 87% 100%, 0% 100%);
    //&:before {
    //  content: '';
    //  position: absolute;
    //  top: 50%;
    //  left: 0;
    //  margin-top: -51px;
    //  width: 100%;
    //  border-top: 100px solid #cb1a2b;
    //  border-right: 37px solid transparent;
    //  z-index: -1;
    //  opacity: 1;
    //}

  }
}
.menu {
  font-size: 18px;
  padding-left: 20px;
  flex-basis: 60%;
  &-list {
    display: flex;
    position: relative;
  }
  &__link {
    padding: 0 25px;
    color: $main-color;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      background-color: $red-color;
      color: $white-color;
      transition: 0.8s;
    }
  }
  &-social {
    display: flex;
    &__wrapper {
      display: flex;
      align-items: center;
    }
    &__item {
      &-profile {
        margin-right: 20px;
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        background-color: $red-color;
        transition: 0.8s;
      }
    }
    &__link {
      color: $white-color;
      &-profile {
        cursor: pointer;
        color: $red-color;
      }
    }
  }
}
// Media

@media screen and (max-width: 1549px) {
  .header {
    &__logo {
      padding: 10px 40px 5px 20px;
    }
  }
  .menu {
    padding-left: 15px;
    &__link {
      padding: 0 15px;
    }
    &-social {
      &__item {
        width: 40px;
        height: 40px;
      }
    }
  }

}
@media screen and (max-width: $xl) {
  .header {
    &__logo {
      padding: 5px 0 5px 10px;
      background: none;
      clip-path: none;
      & img {
        max-width: 200px;
      }
    }
  }
  .menu {
    font-size: 16px;
    &-social {
      &__item {
        margin-right: 8px;
      }
    }
  }

}
@media screen and (max-width: 991px) {
  .header {
    &-nav {
      flex-direction: column;
    }
  }
  .menu {
    &-social {
      margin-top: 15px;
      margin-bottom: 10px;
    }
  }
}
@media screen and (max-width: 768px) {
  .header {
    &-nav {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
  .menu {
    &__dropdown {
      margin-right: 20px;
      & span {
        &:first-child {
          margin-top: 0;
        }
        display: block;
        height: 3px;
        margin-top: 5px;
        width: 25px;
        background-color: $dark-color;
        border-radius: 2px;
      }
    }
    display: none;
    &-social {
      display: none;
      &__link {
        &-profile {
          display: none;
        }
      }
    }
  }
}
