@import './variables';

.modal {
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 4;
  &__body {
    color: $black-color;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: $white-color;
    width: 1170px;
    z-index: 2;
  }
  &__content {
    padding-top: 17rem;
    color: $main-color;
    width: 66rem;
    margin: 0 auto;
    background-color: $white-color;

  }
  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: $main-color;
    cursor: pointer;
    background: none;
    border: none;
    line-height: 15px;
    font-size: 2.6rem;
    font-weight: bold;
  }
//  заголовок модалки
  &__title {
    display: block;
    font-family: 'Fjalla One', sans-serif;
    font-size: 56px;
    line-height: 70px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
//  маленький заголовок модалки
  &__small-title {
    font-size: 26px;
    line-height: 33px;
    margin-bottom: 2rem;
  }
//  Текст модалки
  &__text {
    font-family: Lato, sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: $text-color;
    margin-bottom: 3rem;
    &-color {
      color: $text-color;
    }
    & span {
      margin-top: 5rem;
      display: block;
      & a {
        color: $text-color;
      }
  }
  }
//  Input модалки
  &__input {
    font-size: 26px;
    line-height: 33px;
  }

  &__login-link {
    margin-left: 1rem;
    font-weight: bold;
  }

}

