$size-grid-unit: 0.5rem;

$white-color: #fff;
$black-color: #0000;
$main-color: #1c2334;
$red-color: #cb1a2b;
$text-color: #80838D;
$dark-color: #273147;
$footer-social-color: #171E2D;

$xl: 1200px;
$lg: 991px;
$md: 768px;
$sm: 480px;

