.agreements-item {
  display: flex;
  margin-bottom: 4rem;
  align-items: center;

  &.error {
    border: 1px solid red;
  }

  .modal__text-color {
   width: 12rem
  }

  &__checkbox-label {
    margin-left: 1rem;

    a {
      color: #80838D;
      margin-left: 5px;
    }

  }

}

.register-success {
  h1 {
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  p {
    font-family: 'Lato';
    color: #80838D;
  }

  .img-wrap {
    display: flex;
    justify-content: center;
    margin-top: 3.2rem;
  }

}

//.register {
//  &__wrapper {
//    width: 1140px;
//    margin: 0 auto;
//    padding: 100px 0;
//  }
//}
