.preloader {
  background: rgba(0, 0, 0, 0);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  .spinner {
    background-image: url('./preloader.gif');
    background-position: center;
    background-repeat: no-repeat;
    height: 20rem;
    left: 50%;
    margin: -10rem 0 0 -10rem;
    position: absolute;
    top: 50%;
    width: 20rem;
  }
}
