
.tp-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 16px;
  height: 16px;
  cursor: pointer;
  user-select: none;

  & input {
    //position: absolute;
    opacity: 0;
    cursor: pointer;
    margin: 0 auto;
  }

  &--default {
    border: 1px solid #D0D0D3;
  }

  &--checked {
    border: 1px solid #D0D0D3;

    &:before {
      position: absolute;
      content: '';
      box-sizing: border-box;
      background-size: cover;
      background-image: url('./check_select.svg');
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
    }
  }
}
