@import '../../../../common/css/variables';


.main {
  color: #fff;
  background: url(main-bg.png) 50% 50% no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -1;
    top: 0;
    background-color: rgba(0,0,0,.3);
  }
  &-block {
    padding-top: 215px;
    padding-bottom: 180px;
    margin-left: 85px;
  }
  &__title {
    color: $white-color;
    max-width: 755px;
    font-size: 75px;
    line-height: 94px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
  &__subtitle {
    margin-top: 22px;
    margin-bottom: 44px;
    max-width: 350px;
    font-family: Lato, sans-serif;
    color: #80838D
  }
  &__button a {
    border: 2px solid #ffff;
    padding: 15px 48px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }
}


@media screen and (max-width: 900px) {
  .main {
    &-block {
      padding-top: 160px;
      margin-left: 60px;
    }
    &__title {
      font-size: 60px;
      line-height: 60px;
      text-transform: uppercase;
    }
  }
}
@media screen and (max-width: $md) {
  .main {
    &__title {
      max-width: 400px;
      font-size: 50px;
      line-height: 60px;
      text-transform: uppercase;
    }
  }
}

@media screen and (max-width: $sm) {
  .main {
    &-block {
      padding-top: 160px;
      margin-left: 60px;
    }
    &__title {
      max-width: 300px;
      font-size: 40px;
      line-height: 50px;
      text-transform: uppercase;
    }
  }
}
