//.agreements-item {
//  display: flex;
//  justify-content: space-between;
//  max-width: 20rem;
//  margin-bottom: 40px;
//}
//.register {
//  &__wrapper {
//    width: 1140px;
//    margin: 0 auto;
//    padding: 100px 0;
//  }
//}

.recovery-wrapper {
  p {
    color: #80838D;
    margin: 3rem 0;
  }
}